/***************************************左侧导航栏****************************
*   @author zheng_jinze
*/

/*左侧导航栏整体效果*/
.side-guide-bar {
    width: 220px;
    float: left;
    height: 268px;
    background: #fff;
    border: 1px solid #CBE0E3;
}

.guide-lists {
    padding-top: 5px;
    border-top: 1px solid #CBE0E3;
}

.guide-lists li{
    list-style: none;
}

/*快速导航几个字的属性，为了右边的“更多”按钮*/
.fast-direction {
    border-bottom: 0;
    text-indent: 1em;
    padding: 1px 1px 0;
    height: 36px;
    background-color: #f8fbfc;
    background-image: -webkit-linear-gradient(bottom,#d4ebee 0,#f8fbfc 15%);
    background-image: -moz-linear-gradient(bottom,#d4ebee 0,#f8fbfc 15%);
    background-image: linear-gradient(bottom,#d4ebee 0,#f8fbfc 15%);
}

.fast-direction strong {
    display: block;
   font-size: 15px;
    margin: 8px 0 0 0;
    line-height: 20px;
    padding: 0 0 0 20px;
    height: 20px;
    background: url(http://t.xiaoplus.com/style/img/common/icon/sp-filter.png) 10px 2px no-repeat; 
}

.side-guide-icons {
    border-bottom:1px dashed #0bb;
    padding: 4px 0 6px 15px;
    height: 41px;
}


/*左侧列表大类属性*/
.side-guide-icons > h3 > a{
     display: block;
    color: #333;
    font-size: 15px;
    line-height: 23px;
}

.side-guide-icons > h3 > a:visited {
    color: #333;
}

.side-guide-icons > h3 > a:hover {
    text-decoration: underline;
    color: #0bb
}

.side-guide-icons > h3 {
    display: block;
    margin: 0;
    height: 22px;
    padding-left: 25px;
}

/*左侧列表小类属性*/
.side-guide-icons > a{
    margin-right: 10px;
    font-size: 12px;
    color: #1A9AA3;
}
.side-guide-icons > a:hover {
    text-decoration: underline;
    color: red;
}

.life-title {
        background: url(http://t.xiaoplus.com/style/img/intl_home/icon/small-icon.png) 0 -200px no-repeat;
}
.digit-title {
        background: url(http://t.xiaoplus.com/style/img/intl_home/icon/small-icon.png) 0 -67px no-repeat;
}
.sport-title {
        background: url(http://t.xiaoplus.com/style/img/intl_home/icon/small-icon.png) 0 -0px no-repeat;
}
.book-title {
        background: url(http://t.xiaoplus.com/style/img/intl_home/icon/small-icon.png) 0 -267px no-repeat;
}


/***************************************幻灯片栏****************************
*   @author xxxx
*/

#slide {
    float: left;
    width: 520px;
    height: 270px;
    margin-left: 5px;
    border: 2px solid #f5f5f5;
    overflow: hidden;
}

.banner {
        position: relative;
        overflow: hidden;
}
.banner li {
        list-style: none;
        height: 270px;
        background-size: 100% 100%;
}

.banner ul li {
        float: left;
}

.banner .prev {
        position: absolute;
        top: 150px;
        left: 10px;
}
.banner .next {
        position: absolute;
        top: 150px;
        left: 500px;
}

.banner .dots {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
    text-align: center;
    margin-right: 20px;
    padding-left: 20px;
}

.banner .dots li {
    display: block;
    float: left;
    width: 15px;
    line-height: 16px;
    height: 15px;
    margin: 0px 6px;
    padding: 4px;
    cursor: pointer;
    border: 1px solid #0bb;
    background-color: #f9f9f9;
    border-radius: 13px;
}

#slide .active {
    background-color: #0bb;
    color: #fff;
}

/***************************************右栏滚动栏****************************
*   @author xxxx
*/

#roll {
    float: left;
    width: 220px;
    height: 268px;
    margin-left: 5px;
    border: 1px solid #CBE0E3;
    background: #fff;
    overflow: hidden;
}


.user-status {
    padding: 1px 1px 0;
    height: 36px;
    position: relative;
    background-color: #f8fbfc;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFFEFEFE',endColorstr='#FFFAFAFA');
    background-image: -webkit-linear-gradient(top,#fefefe,#fafafa);
    background-image: -moz-linear-gradient(top,#fefefe,#fafafa);
    background-image: -o-linear-gradient(top,#fefefe,#fafafa);
    background-image: linear-gradient(top,#fefefe,#fafafa);
    -webkit-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    -moz-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
}

.user-status .info-center {
    padding: 6px 30px;
    color: #666;
}

.user-status .info-center:visited {
    color: #666;
}

.user-status .info-center:hover {
    color: #0bb;
    text-decoration: underline;
}

.user-status .status-user-img {
    width: 27px;
    height: 27px;
    padding: 5px 16px;
    vertical-align: middle;
}

.user-status .register, .user-status .login {
    height: 35px;
    font-size: 14px;
    text-align: center;
    color: #666;
    font-weight: bold;
    line-height: 35px;
}

.user-status .register {
    width: 92px;
    margin-left: 10px;
    padding: 8px 0px 7px 32px;
    background: url(http://t.xiaoplus.com/style/img/intl_home/icon/register_bg.png) 0 3px no-repeat;
}

.user-status .login{
   width: 67px;
   margin-left: 23px;
    padding: 9px 0 4px 35px;
    background: url(http://t.xiaoplus.com/style/img/intl_home/icon/login_bg.png) 0 3px no-repeat;
}

.user-status .vertical-bar {
    position: absolute;
    right: 102px;
    top: 9px;
    display: block;
    height: 21px;
    width: 1px;
    background: #DDD;
    z-index: 94;
}

#panel {
    width: 220px;
    position: relative;
}

.panel-guide {
    padding: 4px 0 3px 0;
    height: 33px;
    position: relative;
    z-index: 2;
    top: 2px;
}
.panel-guide > li {
    display: block;
    float: left;
    height: 25px;
    padding: 4px 11px;
    text-align: center;
    font-size: 12px;
}

.panel-guide > li.selected {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    color: #0bb;
}

.panel-guide-1.selected {
    border-right: 1px solid #CBE0E3;
}

.panel-guide-2.selected {
    border-right: 1px solid #CBE0E3;
    border-left: 1px solid #CBE0E3;
}

.panel-guide-3.selected {
    border-left: 1px solid #CBE0E3;
}

.panel-bd {
    position: relative;
    border-top: 1px solid #CBE0E3; 
    background: #fff;
    width: 220px;
    margin-top: -1px;
}
.panel-detail {
    width: 220px;
}
.panel-details > li {
    list-style: none;
}

.panel-detail-1, .panel-detail-2, .panel-detail-3 {
    height: 204px;
    overflow: hidden;
}
.panel-detail-2, .panel-detail-3 {
    display: none;
}

.panel-detail-1 li, .panel-detail-2 li, .panel-detail-3 li{
    border-bottom: 1px solid #F5F5F4;
    height: 48px;
    overflow: hidden;
}

.slideList .imgLink {
    margin: 3px 0 0 5px;
    display: block;
    float: left;
    height: 36px;
    padding: 1px;
    border: 1px solid #CBE0E3;
}
.slideList .imgLink img{
    width: 36px;
    height: 36px;
}

.slideList .content {
    width: 150px;
    float: left;
    margin-left: 10px;
    height: 50px;
}

.slideList .content:after {
    display: block;
    height: 0;
    visibility: visible;
    content: " ";
    clear: both;
}
.slideList .title {
    display: block;
    font-size: 13px;
    margin-top: 3px;
    color: #1A9AA3;
    height: 18px;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.slideList .title:active, .slideList .title:visited {
    color: #1A9AA3;
}

 .slideList .title:hover {
    text-decoration: underline;
}

.slideList .time {
    clear: left;
    display: block;
    float: left;
    margin-top: 3px;
    color: #666666;
    font-size: 12px;
    width: 56px;
}
.slideList .price {
    display: block;
    float: left;
    color: #EE2222;
    font-size: 12px;
    margin: 3px 0 0 10px;
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}


/***************************************下部floor****************************
*   @author Sauce
*/


.floor-index-wrap {
    width: 980px;
    margin: 5px auto 0;
    background: #FFF;
    border: 1px solid #CBE0E3;
}

.floor-index-wrap-title {
    display: block;
    height: 30px;
    background-color: #f8fbfc;
    border-bottom: 2px solid #00BDBD;;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFFEFEFE',endColorstr='#FFFAFAFA');
    background-image: -webkit-linear-gradient(top,#fefefe,#fafafa);
    background-image: -moz-linear-gradient(top,#fefefe,#fafafa);
    background-image: -o-linear-gradient(top,#fefefe,#fafafa);
    background-image: linear-gradient(top,#fefefe,#fafafa);
    -webkit-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    -moz-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    color: #333;
    padding: 10px 0 0 10px;
}

.floor-index-wrap .floor-index-content{
    width: 980px;
    margin-top: 2px;
    -webkit-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    -moz-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
}

.floor-index-content .top-left{
        float: left;
        width: 546px;
        height: 138px;
        padding-top: 10px;
        padding-left: 10px;
        border-right: 1px dashed #CBE0E3;
        border-bottom: 1px dashed #CBE0E3;
}

.floor-index-content .img-left{
        float: left;
        width: 140px;
        height: 85px;
        margin-right: 8px;
}

.floor-index-content .img-left img{
        width: 140px;
        height: 85px;
}

.floor-index-content .box-mid{
    float: left;
    width: 205px;
    height: 78px;
}

.floor-index-content .top-right{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    width: 410px;
    height: 138px;
    border-bottom: 1px dashed #CBE0E3;
}

.floor-index-content .top-right:after, .floor-index-content .bottom-right:after {
    display: block;
    height: 0;
    visibility: visible;
    content: " ";
    clear: both;
}

.floor-index-content dt a{
        padding-left: 15px;
        color: #0066FF;
        border-left: solid #FF6699;
}

.floor-index-content a{
        margin-right: 8px;
        font-size: 12px;
        color: #1A9AA3;
}

.floor-index-content a strong{
    color: #333;
}

.floor-index-content a:hover{
    color: red;
    text-decoration: underline;
}

.floor-index-content .bottom-left{
    float: left;
    width: 546px;
    height: 148px;
    margin-left: 10px;
    border-right: 1px dashed #CBE0E3;
}

.floor-index-content .bottom-right{
   float: left;
    width: 410px;
    height: 148px;
    padding-left: 10px;
}
