.select-box {
    margin: 0 auto;
    border-top: 1px solid #CBE0E3;
    border-bottom: 1px solid #CBE0E3;
    padding: 0 20px;
    width: 948px;
    background: #fff;
    border: 1px solid #CBE0E3;
}

.search-index-crumb {
    border-bottom: 0;
    text-indent: 1em;
    padding: 6px 1px 0;
    width: 986px;
    height: 28px;
    margin: 0 0 0 -20px;
    background-color: #f8fbfc;
    background-image: -webkit-linear-gradient(bottom,#d4ebee 0,#f8fbfc 15%);
    background-image: -moz-linear-gradient(bottom,#d4ebee 0,#f8fbfc 15%);
    background-image: linear-gradient(bottom,#d4ebee 0,#f8fbfc 15%);
}

.select-itm {
    margin: 8px 0 0 0px;
    padding-bottom: 5px;
    font-size: 12px;
    border-bottom: 1px dashed #CBE0E3;
}

.select-itm dd {
    display: inline;
    padding: 5px 0px;
    font-size: 12px;
}

.select-itm dt {
    display: inline;
    color: #4B4B4B;
    padding: 5px 0 5px 25px;
}

.select-itm-type dt {
    background: url(http://t.xiaoplus.com/style/img/common/icon/sp-filter.png) 0 4px no-repeat;
}

.select-itm-subType dt {
    background: url(http://t.xiaoplus.com/style/img/common/icon/sp-filter.png) 0 4px no-repeat;
}

.select-itm-price {
    border-bottom: 0;
}

.select-itm-price dt {
    background: url(http://t.xiaoplus.com/style/img/common/icon/sp-filter.png) 0 -57px no-repeat;
}

.select-itm a {
    padding: 3px 5px;
    margin: 3px 5px;
    color: #2BB8AA;
}

.select-itm a:visited {
     color: #2BB8AA;
}

.select-itm a.selected {
    background-color: #2BB8AA;
    color: #fff;
}

.select-itm a:hover{
    color: #fff;
    background: #2BB8AA;
}



/**************************************select line******************************************************/

.itm-select-line {
    height: 25px;
    background: #F7F7F7;
    border-top: 1px solid #EEEEEE;
    padding-bottom: 10px;
    margin: 35px 0 0 -20px;
    width: 968px;
    padding-right: 20px;
    font-size: 12px;
}

.itm-select-line .select-label {
    display: block;
    float: left;
    border: 1px solid #DCDEE1;
    background: #fff;
    padding: 2px 10px;
    margin-top: 4px;
    cursor: pointer;
    border-right: none;
    margin-left: 10px;
    color: #666;
}

.itm-select-line .select-label-sell {
    display: block;
    float: left;
    border: 1px solid #DCDEE1;
    background: #fff;
    padding: 2px 10px;
    margin-top: 4px;
    cursor: pointer;
    border-right: none;
    color: #666;
}

.itm-select-line .select-label-buy {
    display: block;
    float: left;
    border: 1px solid #DCDEE1;
    background: #fff;
    padding: 2px 10px;
    margin-top: 4px;
    cursor: pointer;
    color: #666;
}

.itm-select-line .select-label-sell.active,  
.itm-select-line .select-label-buy.active, 
.itm-select-line .select-label.active {
    background: #EEEDED;
    color: #666;
}

.itm-select-line .select-label-sell:visited,  
.itm-select-line .select-label-buy:visited, 
.itm-select-line .select-label:visited {
    color: #666;
}

.itm-select-line .itm-order {
    display: block;
    float: right;
    border: 1px solid #DCDEE1;
    background: #fff;
    padding: 2px 10px;
    margin-top: 4px;
    cursor: pointer;
}

.itm-select-line .itm-order-price {
    display: block;
    float: right;
    position: relative;
    border-bottom: 1px solid #DCDEE1;
    background-color: #fff;
    border-top: 1px solid #DCDEE1;
    padding: 2px 20px 2px 10px;
    margin-top: 4px;
    color: #666; 
    cursor: pointer;
}

.itm-select-line .itm-order-time {
    display: block;
    float: right;
    position: relative;
    border: 1px solid #DCDEE1;
    background-color: #fff;
    border-top: 1px solid #DCDEE1;
    padding: 2px 20px 2px 10px;
    margin-top: 4px;
    cursor: pointer;
    color: #666;
}


.itm-order-time .icons-sprite {
    position: absolute;
    width: 7px;
    height: 10px;
    top: 7px;
    right: 8px;
    display: block;
    background-image: url(http://t.xiaoplus.com/style/img/common/icon/sp-all-sprite.png);
    background-repeat: no-repeat;
    background-position: -125px -77px;
} 

.itm-order-price .icons-sprite {
    position: absolute;
    width: 7px;
    height: 10px;
    top: 7px;
    right: 8px;
    display: block;
    background-image: url(http://t.xiaoplus.com/style/img/common/icon/sp-all-sprite.png);
    background-repeat: no-repeat;
    background-position: -112px -77px;
} 

.itm-order:visited, .itm-order-price:visited, .itm-order-time:visited {
    color: #666;
}

.itm-order.active, .itm-order-price.active, .itm-order-time.active {
    background: #F7F7F7;
    color: #666;
}

.itm-select-line a:hover {
    background: #F7F7F7;
}

.school-only {
    width: 300px;
    float: left;
    padding: 5px 15px;
}

.school-only label {
    padding: 0 10px;
    font-size: 12px;
    line-height: 20px;
}



/**************main***************/

.content-search {
    width: 980px;
    margin-top: 15px;
}

.content-search:after {
    display: block;
    visibility: visible;
    content: " ";
    height: 0;
    clear: both;
}

.content-list {
    width: 700px;
    float: left;
}

.content-title {
    display: block;
    height: 30px;
    padding: 4px 0;
    border-bottom: 2px solid #2DB8AD;
    margin-bottom: 5px;
    background-color: #f8fbfc;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFFEFEFE',endColorstr='#FFFAFAFA');
    background-image: -webkit-linear-gradient(top,#fefefe,#fafafa);
    background-image: -moz-linear-gradient(top,#fefefe,#fafafa);
    background-image: -o-linear-gradient(top,#fefefe,#fafafa);
    background-image: linear-gradient(top,#fefefe,#fafafa);
    -webkit-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    -moz-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
}

.content-title h3 {
    margin: -10px 0 0 0;
    color: #333;
    padding: 6px 15px;
    font-size: 18px;
}

.itm-list-box {
    box-shadow: 0px 0px 5px #DFDFDF;
    list-style-type: none;
}

.itm-list {
    display: block;
    height: 140px;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    vertical-align: middle;
    padding: 5px 0;
    border-right: 1px solid #CBE0E3;
    border-left: 1px solid #CBE0E3;
}

.itm-list:hover {
    background: #F7F7F7;
}

.itm-picture {
    width: 120px;
    height: 120px;
    padding: 4px;
    float: left;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin: 6px 0 0 6px;
    background-color: #fff;
}

.itm-picture:hover{
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
}

.itm-picture img{
    width: 116px;
    height: 116px;
}

.itm-info {
    float: left;
    width: 540px;
    height: 120px;
    margin: 10px 0 0 14px;
}

.itm-upper-box {
    height: 26px;
    width: 100%;
    padding-top: 0px;
}

.itm-upper-box .itm-title {
    padding-top: 4px;
    font-size: 15px ;
    color: #0064D3;
    float: left;
}

.itm-upper-box .itm-title:visited, .itm-upper-box .itm-title:active{
    color: #0064D3;
}

.itm-title span {
    color: #FF6600;
    font-size: 12px;
}

.itm-title strong {
    font: bold 16px "Microsoft yahei","微软雅黑", SimSun, Verdana, sans-serif;
    cursor: pointer;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    max-width: 350px; 
    float: left;
    color: #25B9C5;
}
.itm-title strong:hover {
    text-decoration: underline;
}

.itm-upper-box .itm-price {
    display: block;
    height: 17px;
    text-align: center;
    float: right;
    width: 110px;
    padding: 4px 5px 5px 0;
}
.itm-upper-box .itm-price strong {
    color: #EE2222;
    height: 20px;
    display: block;
    max-width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
}
.itm-content-box {
    height: 60px;
    padding-top: 10px;
    font-size: 12px;
    width: 480px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.itm-other-box {
    color: #4B4B4B;
}


.itm-other-info {
    margin-left: 3px;
    max-width: 200px;
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
}


.get-more {
    height: 40px;
    width: 100%;
    padding-top:5px;
    background: #CCF0CC;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #439C43;
    line-height:36px;
}
.get-more:hover {
    color: #fff;
    background: #4B89C7;
    cursor: pointer;
}

.itm-title {
  height: 20px;
  float: left;
  max-width: 590px;
}


.itm-title strong:after {
  display: block;
  visibility: visible;
  content: " ";
  height: 0;
  clear: both;
}


/*************************************Sidebar***************************************/

.side-bar {
    display: block;
    margin: 0px 0 0 30px;
    float: left;
    width: 220px;
}
.side-bar .side-bar-title {
    display: block;
    color: #333;
    height: 26px;
    padding: 6px 0;
    text-align: center;
    border-bottom: 2px solid #2DB8AD;
    font-size: 16px;
    background-color: #f8fbfc;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFFEFEFE',endColorstr='#FFFAFAFA');
    background-image: -webkit-linear-gradient(top,#fefefe,#fafafa);
    background-image: -moz-linear-gradient(top,#fefefe,#fafafa);
    background-image: -o-linear-gradient(top,#fefefe,#fafafa);
    background-image: linear-gradient(top,#fefefe,#fafafa);
    -webkit-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    -moz-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
}

.side-bar .side-bar-list {
    box-shadow: 1px 1px 5px #CBE0E3, -1px 1px 5px #CBE0E3;
    margin-top: -8px;
    background: #FFF;
}

.side-bar .side-bar-item {
    list-style: none;
    width: 210px;
    margin: 10px auto 0; 
    padding: 16px 2px 20px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #CBE0E3;
}

.side-bar-item img {
    display: block;
    margin: 0 auto;
    width: 180px;
    padding: 4px;
    background: #fff;
}

.side-bar-item strong {
   display: block;
    text-overflow: ellipsis;
    margin-top: 5px;
    overflow: hidden;
    width: 180px;
    margin: 0 auto;
    white-space: nowrap;
}

.side-bar-item strong:hover {
    text-decoration: underline;
}

.side-bar-item a:visited {
    color: #0bb;
}

/******************totop*******************/

.totop {
    position: fixed;
    bottom: 0px;
    right: 20px;
} 