/*************************************HEADER********************************************************/
.header {
    background: #fbfbfb;
    font-size: 12px;
    border-top: 1px solid #EEE;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFFEFEFE',endColorstr='#FFFAFAFA');
    background-image: -webkit-linear-gradient(top,#fefefe,#fafafa);
    background-image: -moz-linear-gradient(top,#fefefe,#fafafa);
    background-image: -o-linear-gradient(top,#fefefe,#fafafa);
    background-image: linear-gradient(top,#fefefe,#fafafa);
    -webkit-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    -moz-box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
    box-shadow: 0 0 0 1px #FFF,0 0 0 2px #dfdfdf,0 0 5px 3px #f0f0f0;
}

.nav-top {
    width: 980px;
    margin: 0 auto;
    font-size: 12px;
    letter-spacing: 2px;
    color: #999;
}

.header:after{
    display: block;
    visibility: visible;
    content: " ";
    height: 0;
    clear: both;
}

.nav-top .user-info-wrap {
    list-style-type: none;
    float: right;
    height: 29px;
    padding: 0 10px;
}

.nav-top .user-info-wrap > li{
    height: 29px;
    float: left;
}

.tri {
    position: absolute;
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 0;
    border: 3px dashed transparent;
}
.nav-top .tri-dropdown {
    right: 6px;
    top: 14px;
    border-top: 3px solid #999;
}

.nav-top .my-account-menu {
    position: relative;
}

.nav-top .my-account-menu.hovered {
    box-shadow: 0px 3px 3px #999;
    background: #fff;
}


.nav-top .my-account-menu > a {
    color: #999;
    height: 19px;
    display: block;
    float: left;
    padding: 5px 4px;
}

.my-account-menu .header-user-img{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.nav-top .my-account-menu > a:hover {
    text-decoration: underline;
    color: #0bb;
}

.my-account-menu .dropdown-account {
    position: absolute;
    display: none;
    width: 100%;
    top: 29px;
    text-align: center;
    list-style-type: none;
    box-shadow: 0px 3px 3px #999;
}



.dropdown-account li a {
    display: block;
    padding: 5px 10px;
    color: #999;
    background: #fff;
    border-top: 1px solid #dfdfdf;
}

.dropdown-account li a:visited {
    background: #fff;
}

.dropdown-account li a:hover {
    background: #f7f7f7;
}

.dropdown-account .login-out {
    letter-spacing: 10px;
}

.account-login-register {
    position: relative;
}

.account-login-register a {
    display: block;
    float: left;
    color: #999;
    height: 19px;
    padding: 5px 10px;
}
.account-login-register a:visited {
    color: #999;
}

.account-login-register a:hover {
    text-decoration: underline;
    color: #0bb;
}

.nav-top .vertical-bar {
    position: absolute;
    right: 76px;
    top: 9px;
    display: block;
    height: 12px;
    width: 1px;
    background: #DDD;
    z-index: 94;
}


.nav-top .site-back a {
    display: block;
    float: left;
    color: #999;
    height: 19px;
    padding: 5px 10px;
}

.nav-top .site-back a:visited, .nav-top .site-back a:active {
    color: #999;
}

.nav-top .site-back a:hover {
    text-decoration: underline;
    color: #0bb;
}

.nav-top .school-select {
    width: 350px;
    display: block;
    color: #999;
    float: left;
    height: 19px;
    padding: 5px 10px;
}

.nav-top .school-select > li {
    list-style: none;
}

.nav-top .school-select strong {
    display: inline;
}

.nav-top .school-select a {
    display: inline;
    letter-spacing: 0;
    color: #999;
    font-size: 12px;
}


.nav-top .separator-left {
    border-left: 1px solid #eee;
}

.nav-top a.user-uname {
    padding-right: 16px;
}