
/********************************************选择学校*********************************************/

.change-school-body-hot a:hover {
    display: block;
    background: #a01c1c;
    width: 55px;
    color: #fff;
    height: 22px;
    line-height: 22px;
}

.change-school-body-province li a:hover {
    background-color: #a01c1c;
    height: 22px;
    width: 75px;
    line-height: 22px;
    overflow: hidden;
    color: #fff;
    margin: 2px 0;
    margin-left: 7px;
}


.change-school .school-list a {
    padding: 2px 8px;    
}

.change-school .school-list a:hover {
    background-color: #a01c1c;
    color: #fff;
}

.change-school .search-school a:hover {
    color: #F60;
}

/******************************************************** 主体样式 *****************************************************************/


.change-school-box {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100010;
    background: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
    top: 0;
    left: 0;
}

.change-school {
    display: block;
    width:750px;
    height: 380px;
    margin: 0 auto;
    background-color: #fff;
    border:1px solid #ddd;
}

.change-school-head{
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    color: #fff;
    padding: 10px;
    background: #3ACCCD;
}

.change-school-head-tip {
    width: 200px;
    float: left;
}

.change-school-head-close {
    display: block;
    float: right;
    margin-top: 0px;
    margin-right: 5px;
    width: 30px;
    height: 20px;
    background: url('http://t.xiaoplus.com/style/img/common/icon/close-h.gif') 0 0 no-repeat;
}

.change-school-head:after {
    clear: both;
    display: block;
    content: " ";
    visibility: visible;
    height: 0;
}

.change-school-body {
    width: 747px;
    height: auto;
    overflow: hidden;
    margin: 8px 0;
}


.change-school-body-province  {
    margin: 5px 8px 10px 8px;
    border: 1px solid #C3C3C3;
}

.change-school-body-province  a {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    color: #005EAC;
    text-decoration: none;
    font-size: 9pt;
    font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
    margin: 2px 4px;
    padding: 1px 2px;
    text-align: center;
}

.change-school-body-province  a:hover {
	background: #3ACCCD;
	color: #fff;
}

.change-school-body-province  a.selected {
    background: #3ACCCD;
    color: #fff;
}

.school-list {
    margin: 5px 8px 10px 8px;
    border: 1px solid #C3C3C3;
    height: 240px;
    overflow: auto;
}

.school-list a {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    color: #005EAC;
    text-decoration: none;
    font-size: 9pt;
    font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
    margin: 2px 4px;
    padding: 1px;
    text-align: center;
}

