li {
	list-style: none;
}

input {
	width: 100px;
}

.main {
	margin-top: 50px;
}

textarea {
	width: 840px;
	height: 200px;
}
caption {
	font-weight: 800;
	font-size: 22px;
	margin:20px 0;
}

.schoolList input {
	width: 90px;
}

.feedbacks {
	display: block;
	height: 68px;
	width: 800px;
	padding: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
	vertical-align: middle;
}

.feedback-content {
	height: 90px;
	padding-top: 10px;
	font-size: 12px;
	width: 800px;
	color: #999;
	word-break:break-all;
	overflow-y: auto;
}

.feedback-content-delete {
	position: relative;
	left:40px;
}

h3 {
	width: 100%;
	text-align: center;
	font-weight: 800;
}

.web_config-submit {
	margin-left: 360px;
	margin-top: 30px;
}

.feedback_unread td,.feedback_read td {
	font-size: 14px;
	border: 1px solid grey;
}

.feedback-th-1 {
	width: 40px;
	overflow: hidden;
}

.feedback-th-2 {
	width: 200px;
	overflow: hidden;
}

.feedback-th-3 {
	width: 100px;
	word-break:break-all;
}
.feedback-th-4 {
	width: 280px;
	overflow: auto;
	word-break:break-all;
}

.feedback-th-5 {
	width: 100px;
}

.feedback-reply-content {
	width: 680px;
}

.tab-feedback {
	padding-left: 300px;
}
