.site-login-bind-email {
    background: #fff;
    margin-top: 20px;
    -webkit-box-shadow: 2px 2px 5px #CDCDCD;
    -moz-box-shadow: 2px 2px 5px #CDCDCD;
    box-shadow: 2px 2px 5px #CDCDCD;
}

.site-login-bind-email h2 {
    margin-top: 0;
    font-size: 16px;
    text-align: left;
    background-color: #009689;
    padding-left: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.site-login-bind-email .to_user {
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #E9E9E9 solid;
}

.site-login-bind-email .to_user:after {
    display: block;
    visibility: visible;
    content: " ";
    height: 0;
    clear: both;
}

.site-login-bind-email #user_image {
	width: 80px;
	height: 80px;
	margin: 0 15px 0 0;
	padding: 10px;
	background: #FFF;
	border: 1px solid #CDCDCD;
	border-radius: 4px;
	float: left;
}

#user_image img {
	display: block;
	width: 80px;
	height: 80px;
}

.site-login-bind-email #check_mail {
	margin-bottom: 20px;
}

.site-login-bind-email .input_box {
	width: 100%;
	margin-top: 10px;
	margin-left: 200px;
}

.input_box .box_title {
	margin-right: 5px;
	display: block;
	width: 100px;
	height: 25px;
	line-height: 25px;
	padding: 0 5px 0 0;
	float: left;
	text-align: right;
	color: #333;
}

.input_box .box_words {
	width: 200px;
	height: 22px;
	padding: 3px 5px;
	line-height: 25px;
	border: 1px solid #B4BBCD;
	float: left;
	font-size: 14px;
	outline: none;
	line-height: 20px;
	+margin-left: -90px;
}

.input_box .notice {
	height: 28px;
	line-height: 28px;
	margin: 0 0 0 5px;
	padding: 0 10px 0 10px;
	float: left;
	color: #A8A8A8;
}
.site-login-bind-email .star {
	color: red;
}

#submit {
	text-align: center;
}

#submit a {
	margin: 10px 0 10px 0;
	color: #FFFFFF;
	background-color: #25B9C5;
}

.valid-tip, .unvalid-tip {
	+margin-top: 8px;
	line-height: 20px;
        margin-right: 5px;
}