.form-section-title {
    float: left;
    width: 160px;
    font: normal 16px/100% Arial;
    padding: 12px 0 0px 20px;
    text-align: left;
    margin: 0 0 10px 20px;
    height: 35px;
}

.form-section-content{
    float: left;
    width: 250px;
    height: 35px;
    font-size: 15px;
    margin: 5px 0 10px 0;
    line-height: 40px\0;
    _line-height: 35px;
    text-align: left;
    outline: none;
    border: 1px solid #cccccc;
    padding-left: 5px;
}



.form-role {
    width: 700px;
    margin: 20px auto 0;
    background: #fff;
    padding: 0 0 20px 0;
    box-shadow: 1px 1px 4px #ddd;
    border: 1px solid #CBE0E3;
}

.form-role  h2{
    margin-top: 0;
    font-size: 16px;
    text-align: left;
    background-color: #009689;
    padding-left: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.form-list {
    list-style-type: none;
}

.form-list > li {
    
}

.form-list > li:after {
    display: block;
    visibility: visible;
    content: " ";
    height: 0;
    clear: both;
}

#basicInformationSubmit{
    text-align: center;
    margin-top: 26px;
}
#basicInformationSubmit .btn{
    margin: 0px 40px 0px 0px;
}