.upload-user-head {
    width: 800px;
    margin: 20px auto 0;
    background: #fff;
    padding: 0 0 20px 0;
    box-shadow: 1px 1px 4px #ddd;
    border: 1px solid #CBE0E3;
}

.upload-user-head h2 {
    margin-top: 0;
    font-size: 16px;
    text-align: left;
    background-color: #009689;
    padding-left: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.form-role .alert-error {
    width: 325px;
    margin-left: 30px;
}

#userImageSubmit{
    margin: 20px 0 30px 0;
    text-align: center;
}

#new-head {
    display: block;
}

#loading {
    display: block;
    visibility: hidden;
    height: 25px;
    margin: 5px 0 0 60px;
}
#loading img {
    float: left;
}
#loading span {
    display: block;
    float: left;
    margin: 3px 0 0 20px;
}

#user-img {
    float: left;
    margin: -10px 25px 20px 60px;
    width: 500px;
    max-width: 500px;
    visibility: hidden;
    border: 1px solid #cccccc;
}
#new-head {
    margin-left: 60px;
}

#user-img-preview {
    float: left;
    margin-top: -40px;
    position: relative;
    overflow: hidden;
    position: relative;
    width: 152px;
    text-align: center;
    height: 192px;
    position: relative;
}
#user-img-preview div {
    overflow: hidden;
    height: 152px;
    width: 152px;
}
#user-img-preview h4 {
    text-align: center;
}
#user-img-preview div img {
     width: 150px;
     height: 150px;
}
