.site-change-detail-body {
    background: #fff;
    margin-top: 15px;
    padding: 30px 5px 20px;
    box-shadow: 2px 2px 5px #ddd;
    border: 1px solid #ddd;
}
.site-change-detail-main input, .site-change-detail-main select {
    line-height: 30px\9;
}

.site-change-detail-main select {
    display: block;
    height: 30px;
    padding: 1px 0 1px 5px;
    color: #666666;
    border: 1px solid #cccccc;
}

.site-change-detail-main .itm-info {
    display: block;
    float: left;
    margin-left: 40px;
    text-align: left;
    list-style-type: none;
    width: 440px;
    border-right: 1px solid #cccccc;
    padding-bottom: 10px;
}

.itm-info .notice{
    display: block;
    float: left;
    width: 20px;
    margin: 7px 18px;
}


.itm-info li {
    display: block;
    margin-bottom: 25px;
    height: 30px;
}

.upper-detail:after, .itm-info li:after {
    display: block;
    visibility: visible;
    content: " ";
    height: 0px;
    clear: both;
}
.itm-info .itm-input {
    display: block;
	float: left;
    width: 200px;
    height: 30px;
    padding: 1px 0 1px 5px;
    color: #666666;
    border: 1px solid #cccccc;
    box-shadow: inset 0px 1px 5px #cccccc;
    outline: none;
}
.itm-info .itm-input:after {
	display: block;
    visibility: visible;
    height: 0;
    clear: both;
    content: " ";
}
 .itm-info .itm-input:focus {
    border: 1px solid #25B9C5;
    box-shadow: 0px 0px 4px #25B9C5;
    outline: none;
}

.site-change-detail-main .label {
    min-width: 140px;
    display: block;
    font: normal 22px '微软雅黑', Arial;
    letter-spacing: 3px;
    color: #333333;
    float: left;
    text-shadow: 0px 0px 3px #999999;
}

.site-change-detail-main .itm-deal-type label , .site-change-detail-main .itm-by-type label{
    line-height: 20px;
	*line-height: 29px;
    display: block;
    width: 30px;
    float: left;
}

.itm-deal-type .itm-deal-input , .itm-by-type .itm-deal-input{
    margin-right: 12px;
    display: block;
    float: left;
    width: 30px;
    margin-top: 4px;
}
.site-change-detail-main .itm-deal-type:after, .site-change-detail-main .itm-by-type:after  {
    display: block;
    visibility: visible;
    height: 0;
    clear: both;
    content: " ";
}

.itm-info .alert {
    display: block;
    width: 300px;
    text-align: center;
}

.itm-sub-type {
      width: 200px;
}

.itm-place {
    margin-right: 15px;
    padding-right: 10px;
    outline: none;
    float: left;
}

.image-box {
    width: 380px;
    float: left;
    margin-left: 60px;
}

.big-img {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #cccccc;
    height: 300px;
    width: 320px;
    overflow: hidden;
}

.big-img img{
    display: block;
    margin: 0 auto;
    max-height: 300px;
    max-width: 320px;
    cursor: pointer;
    width: 100%;
}
.img-select {
    display: block;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
.img-select ul {
    display: block;
    max-width: 260px;
    height: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.img-select ul li{
    display: block;
    width: 50px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.selected {
   border: 2px solid #DB3C14!important;
}

.img-select .itm-img {
    display: inline;
    width: 45px;
    height: 45px;
    border: 2px solid transparent;
    cursor: pointer;
}
.img-select .itm-img:hover {
    border: 2px solid #DB3C14;
}

.itm-add-content {
    width: 730px;
    margin: 0 auto;
}

#loading {
    visibility: hidden;
}


.upload-img {
    position: relative;
    height: 45px;
}
.upload-img span {
    display: block;
    position: absolute;
    width: 200px;
    z-index: 1;
    margin-left: 100px;
    left: 0;
}

.upload-img input {
    display: block;
    position: absolute;
    width: 250px;
    border: 1px solid red;
    height: 40px;
    opacity: 0;
    filter:alpha(opacity=0);
    margin-left: 100px;
    *margin-left: 50px\9;
    left: 0;
    z-index: 2;
}

.itm-content-title {
    margin-top: 25px;
    border-bottom: 2px solid #009689;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#2DB9C5',endColorstr='#FFF');
    background-image: -webkit-linear-gradient(bottom, #2DB9C5 0, #fff 10%);
    background-image: -moz-linear-gradient(bottom, #2DB9C5 0, #fff 10%);
    background-image: -o-linear-gradient(bottom, #2DB9C5 0, #fff 10%);
    background-image: linear-gradient(bottom , #2DB9C5 0, #fff 10%);
    display: block;
    margin-bottom: 20px;
    height: 32px;
    text-align: left;
}

.down-detail {
    margin-top: 20px;
}

.itm-content-title span {
   padding: 15px 25px;
    background: #009689;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

.sb-step {
    display: block;
    text-align: left;
    margin-top: 40px;
    padding-left: 124px;
}

.sb-step .btn {
    margin-right: 10px;
}
