.select-type {
    display: block;
    text-align: center;
}

.site-item-publish {
    margin-top: 20px;
    background: #fff;
    padding-top: 25px;
    box-shadow: 3px 3px 5px #ddd;
    border: 1px solid #ddd;
}

.type-box {
    width: 950px;
    min-height: 180px;
    margin: 50px auto 0;
}
.type-img {
    position: relative;
    border: 2px solid #ddd;
    float: left;
    width: 220px;
    height: 160px;
    margin-left: 12px;
}

.type-img span{
    position: absolute;
    display: block;
    height: 20px;
    padding: 10px 0px;
    width: 220px;
    left: 0;
    bottom: 0px;
    font: normal 16px Arial;
    color: #fff;
    background-color: rgba(33, 33, 33, 0.7);
    filter: Alpha(opacity=70);
}

.type-img:hover {
    -webkit-transform: scale(1.1);
    box-shadow: 0px 0px 10px #009689;
    border: 2px solid #25B9C5;
    cursor: pointer;
}

.type-img.select {
    border: 2px solid #009689;
    box-shadow: 0px 0px 10px #009689;
    -webkit-transform: scale(1.05);
}

.goto-pubdetail {
    text-align: left;
    clear: left;
    width: 950px;
    margin: 30px auto 0;
    padding-bottom: 20px;
}

.goto-pubdetail .btn {
    margin-left: 20px;
}


/********************第二个页面**********************/

.pub-detail {
    display: none;
    padding-bottom: 50px;
    clear: right;
}

.pub-detail input, .pub-detail select {
    line-height: 30px\9;
}

.pub-detail select {
    display: block;
    height: 30px;
    padding: 1px 0 1px 5px;
    color: #666666;
    border: 1px solid #cccccc;
}

.pub-detail .itm-info {
    display: block;
    float: left;
    text-align: left;
    list-style-type: none;
    margin-left: 28px;
    width: 440px;
    border-right: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-left: 18px;
}
.itm-info li {
    display: block;
    margin-bottom: 25px;
    clear: left;
	height: 30px;
}
.itm-info .itm-input {
    display: block;
    float: left;
    width: 200px;
    height: 30px;
    padding: 1px 0 1px 5px;
    color: #666666;
    border: 1px solid #cccccc;;
    box-shadow: inset 0px 1px 5px #cccccc;
    outline: none;
}
.itm-info .notice{
    display: block;
    float: left;
    width: 20px;
    margin: 7px 18px;
}

.itm-info .itm-input:focus {
    border: 1px solid #25B9C5;
    box-shadow: 0px 0px 4px #25B9C5;
    outline: none;
}

.pub-detail .label {
    min-width: 140px;
    display: block;
    font: normal 22px '微软雅黑', Arial;
    letter-spacing: 3px;
    color: #333333;
    float: left;
    text-shadow: 0px 0px 3px #999999;
}

.pub-detail .itm-deal-type label, .pub-detail .itm-by-type label{
    line-height: 20px;
	*line-height: 29px;
    display: block;
    width: 30px;
    float: left;
}

.itm-deal-type .itm-deal-input, .itm-by-type .itm-deal-input {
    margin-right: 12px;
    display: block;
    float: left;
    width: 30px;
    margin-top: 4px;
}
.pub-detail .itm-deal-type:after, .pub-detail .itm-by-type:after {
    display: block;
    visibility: visible;
    height: 0;
    clear: both;
    content: " ";
}

.itm-info .alert {
    display: block;
    width: 300px;
    text-align: center;
}

.itm-sub-type {
      width: 200px;
}

.itm-place {
    margin-right: 15px;
    padding-right: 10px;
    outline: none;
    float: left;
}
.itm-picture {
    display: block;
    margin-left: 40px;
    float: left;
    text-align: center;
    width: 390px;
}

.itm-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 410px;
    max-height: 260px;
    min-height: 100px;
    padding: 5px;
    background: #fff;
    border: 1px solid #cccccc;
}

#loading {
    visibility: hidden;
}


.img-select {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    max-width: 260px;
    height: 50px;
}

.img-select img{
    display: inline;
    width: 45px;
    height: 45px;
    margin-right: 5px;
    border: 2px solid #2DB9C5;
    cursor: pointer;
}

.img-select img:hover {
    border: 2px solid #DB3C14;
}

.img-select .select {
    border: 2px solid #DB3C14;
}

.upload-img {
    position: relative;
    height: 45px;
}
.upload-img span {
    display: block;
    position: absolute;
    width: 200px;
    z-index: 1;
    margin-left: 82px;
    left: 0;
    cursor: pointer;
}

.upload-img input {
    display: block;
    position: absolute;
    width: 250px;
    border: 1px solid red;
    height: 40px;
    opacity: 0;
    filter:alpha(opacity=0);
    margin-left: 82px;
    *margin-left: 50px\9;
    left: 0;
    z-index: 2;
}

.itm-content-title {
    margin-top: 25px;
    border-bottom: 2px solid #009689;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#2DB9C5',endColorstr='#FFF');
    background-image: -webkit-linear-gradient(bottom, #2DB9C5 0, #fff 10%);
    background-image: -moz-linear-gradient(bottom, #2DB9C5 0, #fff 10%);
    background-image: -o-linear-gradient(bottom, #2DB9C5 0, #fff 10%);
    background-image: linear-gradient(bottom , #2DB9C5 0, #fff 10%);
    display: block;
    margin-bottom: 20px;
    height: 32px;
    text-align: left;
}

.itm-content-title span {
    padding: 15px 25px;
    background: #009689;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

.itm-add-content {
    margin: 0 auto;
    width: 730px;
}

.sb-step {
    display: block;
    text-align: left;
    margin-top: 40px;
    padding-left: 124px;
}

.sb-step .btn {

    margin-right: 10px;
}


/********************************step block*******************************/
.step-container{
    text-align: center;
    width: 980px;
    margin: 0 auto;
    text-shadow: 0px 0px 2px #999999;
}
.step-one,
.step-two,
.step-three {
    position: relative;
    box-shadow: 0px 0px 5px #cccccc;
    text-align: center;
    font-size: 16px;
    padding: 4px 128px;
    line-height: 28px;
    display: inline-block;
    height: 30px;
    color: #fff;
    background-color: #cccccc;
    margin-top: 20px;
}

.step-selected {
    background-color: #009689;
}

.step-selected > .down-tri {
    position: absolute;
    height: 0px;
    width: 0px;
    top: 37px;
    left: 150px;
    border-top: 10px solid #009689;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

