#user-pwd {
    margin: 20px 0 0 60px;
    width: 500px;
}

#user-pwd .con{
    display: block;
    float: left;
    width: 90px;
    height: 26px;
    padding-top: 7px;
    line-height: 20px;
}

#tip {
    display: block;
    width: 185px;
    height: 20px;
    margin: 20px 0 10px 196px;
    text-align: left;
    color: red;
}

.user-detail-list > li  input {
    width: 200px;
    height: 30px;
    display: block;
    border: 1px solid #cccccc;;
    float: left;
    padding-left: 5px;
    outline: none;
    color: gray;
    margin: 0 0 25px 0;
    line-height: 36px\9;
}

.user-detail-list > li input:focus{
    box-shadow: none;
    border: 1px solid #A7C0F1;
}

#verifyCode {
    width: 100px;
}
#verifyImg {
    display: block;
    float: left;
    height: 35px;
    margin-left: 10px;
}

#user-pwd .btn{
    margin: 20px 20px 0 41px;
}


            