.user-detail .pub {
	font-size: 13px;
        height: 30px;
	padding: 6px 0;
	margin: 0 auto;
	overflow: hidden;
}
.user-detail .pub:hover {
	background: #F3F8E9;
}

.user-detail .con {
	width: 460px;
	display: block;
	float: left;
	text-align: left;
}

.user-detail .con .title {
    display: block;
    float: left;
    padding: 5px 0 5px 5px;
    white-space: nowrap;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-detail .con a.title:hover {
    color: #EE3300; 
    text-decoration: underline;
}
.user-detail .con .title:visited {
	color: #0044ff;
	text-decoration: underline;
}

.user-detail .con .catalog {    
    display: block;
    float: left;
    width: 288px;
    font-size: 12px;
    color: #999999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 0 5px 15px;
}


.user-detail .itm-redit:hover {
    text-decoration: underline;
}

.user-detail .itm-redit, .user-detail .itm-redit:active, .user-detail .itm-redit:visited {
    display: block;
    float: left;
    line-height: 28px;
    color: #1A9AA3;
}


.pub-main .status, .pub .status {
    display: block;
    float: left;
    width: 60px;
    margin-left: 20px;
    line-height: 29px;
   cursor: pointer;
    color: #CC0000;
}

.pub-main .status:hover {
	color: red;
}

.user-detail .date {
	display: block;
	float: right;
	padding: 5px 0;
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
	color: #666666;
}

#getMore {
	height: 35px;
	background: #CCF0CC;
	margin: 0 auto;
	padding-top: 10px;
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
	color: #439C43;
}
#getMore:hover {
	cursor: pointer;
}
